<% include ./partials/header %>
<form action="/login" method="post" id="forma">
    <h1>Login to our website</h1>
    <input placeholder="Korisnicko ime" type="text" name="username" class='imena'>
    <input type="password" placeholder="Loznika" name="password" class="imena">
    <button>Login</button>
</form>
<% include ./partials/footer %>
