<% include ./partials/header %>
<form id="forma" action="/registracija" method="POST">

    <h1>Registracija na nas sajt</h1>
    <input placeholder="Korisnicko ime"type="text" name="username" class="imena">
    <input type="text" name="password" placeholder="Loznika" class="imena">
    <button>Registruj se</button>
</form>
<% include ./partials/footer %>